<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
        background-image: url('/static/upload.jpg')
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container" style="padding:5% 0% 0% 5%">
    <h3 style="color:red; font-style:italic;">Upload Your Books Here</h3><br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
  </form>
</div>
</body>
</html>